@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
    font-family: var(--primary-font);
}

/* shop-search-products */
.shop-products{
    padding: 10px 0;
    background: var(--bg-light-white);
}
.shop-products li{
    list-style: none;
}

.shop-products .item-product-category .item-sublist{
    border-bottom: 1px solid #008006;
    padding: 10px 0;
}
.shop-products .item-product-category .item-sublist a{
    color: #000;
    font-size: 15px;
    text-decoration: none;
}

.shop-products .search-item{
    width: 100%;
    padding: 1ppx 15px;
}
.shop-products .accordion-item .accordion-button{
    text-decoration: none;
    font-weight: 20px;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
.shop-products .accordion-item h2 button{
    color: #000;
    text-decoration: none;
}
.shop-products .accordion-button:not(.collapsed){
    color:#008006;
    background: #fff;
    border: none;
    border-color: #fff;
}
.shop-products .accordion-button:focus{
    border-color: #fff;
}


/* navbar 
.navbar li{
    float: right;
    color: #f2f2f2;
    text-align: cornor;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}*/

/* trial portion */


.carousel .item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
}

.carousel .item .img-box {
    height: 160px;
    width: 100%;
    position: relative;
}

.carousel .item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.carousel .item h4 {
    font-size: 18px;
    margin: 10px 0;
}
        

.carousel .item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .thumb-wrapper {
    text-align: center;
}

.carousel .thumb-content {
    padding: 15px;
}

.carousel .carousel-control {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price strike {
    color: #999;
    margin-right: 5px;
}
.carousel .item .btn {
    color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}

.carousel .item .btn:hover,
.carousel .item .btn:focus {
    color: #fff;
    background: #000;
    border-color: #000;
    box-shadow: none;
}

.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color:#000;
    text-shadow: none;
    font-weight: bold;
}

.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}


.carousel .item-price span {
    color: #86bd57;
    font-size: 110%;
}

.carousel .carousel-control.left i {
    margin-left: -3px;
}

.carousel .carousel-control.left i {
    margin-right: -3px;
}

.carousel .carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border-color: transparent;
}

.carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}

.star-rating li {
    padding: 0;
}

.star-rating i {
    font-size: 14px;
    color: #ffc000;
}

/* Footer */
.copyright{
    background:green;
}
.copyright p,
.copyright a{
    color:var(--text-white);
}   


/* slider */
html,body{
position:relative;
height:100%;
}
	
body{
	margin:0px;
	padding:0px;
	font-family:montserrat,sans-serif;
	background-color:rgba(241,241,241,1.00);}
.swiper-slide{
	width:250px !important;
	 }
	
.slider-box{
	margin:20px;
	height:350px;
	width:250px;
	position:relative;
	background-color:#FFFFFF;
	border-radius:5px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	border:1px solid rgba(187,187,187,0.40);
}
.slider-box a{
	text-decoration:none;
	text-align:center;
}
.img-box{
	height:170px;
}
.img-box img{
	height:auto;
	max-width:100%;
	max-height:100%;
}
						
.detail{
	display:flex;
	flex-direction:column;
	align-items:center;
	box-sizing:border-box;
	font-size:13px;
	line-height:35px;
}
.price{
	
	line-height:20px;
}
.cart{
    text-decoration: none;
	position:absolute;
	bottom:0px;
	height:45px;
	background-color:green;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.cart a{
	color:#FFFFFF;
}
.slider-box:hover{
	box-shadow:2px 2px 12px rgba(47,47,47,0.40);
}
.slider-box:hover .img-box img{
	transform:scale(1.07);
	transition:all ease 0.3s;
}
.cart:hover{
	transform:scale(1.1);
	background-color:green;
	box-shadow:2px 2px 12px rgba(47,47,47,0.40);
	transition:all ease 0.1s;
}
						
.heading{
	display:flex;
	justify-content:center;
}
.heading h1{
	border-radius:15px;
	text-shadow:2px 2px 12px rgba(69,66,66,0.3);
	text-decoration-line: underline;  
	padding:0px 10px;
	color:#030303;
	margin:20px;
	font-size:30px;
	font-family:calibri;
}


/* Footer */
.copyright{
    background:green;
}
.copyright p,
.copyright a{
    color:var(--text-white);
}
								
